<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Url Shortener</h3>
    <form action="/" method="post">
        <input type="text" name="originalUrl" placeholder="Enter URL to shorten" required>
        <button type="submit">Shorten URL</button>
    </form>


    <% if (typeof shortUrl !=="undefined" ) { %>
        <h4>Your Short URL</h4>
    
        <a href="<%= shortUrl %>">
            <%= shortUrl %>
        </a>
        <% } %>



</body>
</html>